body {
    background: #333;
    margin: 0;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#app canvas {
    width: 100%;
}

#fps {
    position: fixed;
    bottom: 0;
    font-family: monospace;
}
